/* a:link#styled, a:visited#styled {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover#styled, a:active#styled {
  background-color: red;
} */
#styled {
    background-color: yellow;
}